.feed-heading-container {
   padding: 1.5rem 2rem 1rem 2rem;

   h2 {
      margin: 0;
   }
}

.create-comment-form {
   display: flex;
   flex-direction: column;
   gap: 0em;
   border-block-end: 1px solid var(--surface-300);
   padding-block-end: 1rem;
   padding-inline: 2rem;

   textarea {
      resize: none;
      field-sizing: content;
      transition: min-height 500ms cubic-bezier(0.19, 1, 0.22, 1);
   }
}
