@property --button-bg-gradient-start {
   syntax: "<color>";
   inherits: false;
   initial-value: black;
}

@property --button-bg-gradient-end {
   syntax: "<color>";
   inherits: false;
   initial-value: white;
}

button,
.btn {
   border: 1px solid var(--surface-200);
   background-color: transparent;
   color: var(--text-color-heading);
   padding: var(--padding-md);
   font-size: 1rem;
   cursor: pointer;
   border-radius: var(--border-radius-md);
   transition: background-color var(--transition-duration-short) ease, box-shadow var(--transition-duration-short) ease;
   font-weight: 500;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.5em;
   text-decoration: none;

   &.w-full {
      width: 100%;
   }

   &.primary {
      --button-bg-gradient-start: var(--primary-400);
      --button-bg-gradient-end: var(--primary-600);

      background-image: linear-gradient(to bottom, var(--button-bg-gradient-start), var(--button-bg-gradient-end));
      color: var(--text-color-on-primary);
      transition-property: --button-bg-gradient-start, --button-bg-gradient-end, box-shadow;
      transition-timing-function: ease;
      transition-duration: var(--transition-duration-short);
      border: 1px solid var(--primary-600);

      &:hover {
         --button-bg-gradient-start: var(--primary-300);
         --button-bg-gradient-end: var(--primary-500);
      }

      &:active {
         box-shadow: 0px 0px 20px 0px hsla(var(--hsl-primary-400) / 0.2);
      }
   }

   &:disabled {
      filter: grayscale(35%);
      opacity: 0.5;
      cursor: not-allowed;
   }
}
