.post {
   display: flex;
   flex-direction: column;
   gap: 0.625em;
   padding: 1.5em 2rem;
   border-bottom: 1px solid var(--surface-300);
   transition: background-color var(--transition-duration-short) ease;
   position: relative;

   &:not(.no-click) {
      cursor: pointer;

      &:hover {
         background-color: var(--surface-100);
      }
   }

   .post-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .post-author {
         display: flex;
         align-items: baseline;
         gap: 0.5em;
         text-decoration: none;

         .author-name {
            white-space: nowrap;
         }

         .author-handle {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
         }
      }
   }

   .post-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .post-actions-button {
         background-color: transparent;
         border: none;
         padding: 0;
         margin: 0;
         height: unset;
         color: var(--text-color-muted);
         cursor: pointer;
         anchor-name: --post-actions-button;
         outline: none;

         &:hover {
            color: var(--text-color-body);
         }

         svg {
            width: 1.5em;
         }
      }
   }

   .post-interaction-button {
      background-color: transparent;
      border: none;
      padding: 0;
      margin: 0;
      font-size: 0.875rem;
      color: var(--text-color-muted);
      animation: unbounce 500ms cubic-bezier(0.19, 1, 0.22, 1);
      transition: color var(--transition-duration-short) ease;
      text-decoration: none;
      font-weight: var(--fw-p);
      outline: none;

      &:not(:disabled) {
         cursor: pointer;
      }

      &:not(:disabled):hover {
         color: var(--text-color-body);
      }

      &:not(:disabled):active {
         color: var(--text-color-heading);
      }

      &.active {
         color: var(--red-100);

         &:hover {
            color: var(--red-200);
         }

         &:active {
            color: var(--red-300);
         }
      }
   }
}
