.form-field {
   display: flex;
   flex-direction: column;
   gap: 0.25em;
   width: 100%;

   :is(&, .form-field-group) + :is(&, button) {
      margin-top: 1em;
   }

   label {
      font-size: 0.9rem;
      color: var(--text-color-muted);
      transition: color var(--transition-duration-short) ease;
   }

   &:focus-within label {
      color: var(--text-color-body);
   }

   .field-error {
      color: var(--red-100);
      font-size: 0.875rem;
      margin: 0;
      overflow: hidden;
      transition: height 500ms cubic-bezier(0.19, 1, 0.22, 1);
      opacity: 1;
      height: calc-size(auto, size);

      & + & {
         margin: 0;
      }

      @starting-style {
         height: 0px;
      }
   }
}

form header {
   margin-bottom: 1.5em;
}

.form-field-group {
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   overflow: hidden;
   gap: 1em;
   transition: height 500ms cubic-bezier(0.19, 1, 0.22, 1);

   .form-field {
      margin: 0;
   }
}

.form-error {
   color: var(--red-100);
   font-size: 0.9rem;
   margin: 0.5em 0;

   @starting-style {
      height: 0px;
      overflow: hidden;
   }
}

input,
textarea {
   outline: none;
   background-color: var(--surface-100);
   border: 1px solid var(--surface-300);
   padding: var(--padding-md);
   border-radius: var(--border-radius-sm);
   font-size: 1rem;
   color: var(--text-color-body);
   width: 100%;
   transition: border var(--transition-duration-short) ease, outline var(--transition-duration-short) ease;
   outline: 3px solid transparent;

   &:focus-visible {
      border-color: var(--primary-500);
      outline-color: hsl(var(--hsl-primary-500) / 0.15);

      @media (prefers-color-scheme: dark) {
         outline-color: hsl(var(--hsl-primary-500) / 0.3);
      }
   }

   &:-webkit-autofill,
   &:-webkit-autofill:focus,
   &:-webkit-autofill:hover,
   &:-webkit-autofill:active {
      transition: background-color 0ms 600000s, color 0s 600000s !important;
   }
}
